# Clerk Configuration
# Playwright tests require these keys. 
# Use a Testing Token for CLERK_SECRET_KEY for Bypassing authentication.
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

# Admin Configuration
# This email must match the user email used in Clerk Testing Token/User.
NEXT_PUBLIC_ALLOWED_ADMIN_EMAIL=admin@example.com

# MicroCMS Configuration
MICROCMS_SERVICE_DOMAIN=your-service-domain
MICROCMS_API_KEY=your-api-key
