.stack > * + * {
  margin-top: var(--stack-space, 1.5em);
}

.stack h2,
.stack h3 {
  --stack-space: 2em;
}

.stack h2 + *,
.stack h3 + * {
  --stack-space: 0.8em;
}

.stack p {
  line-height: 1.8;
}

.stack ul {
  padding: revert;
  list-style: revert;
}

.stack ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

/* Link styles */
.stack a {
  color: #3366ff;
  cursor: pointer;
  text-decoration: underline;
}

.stack a:hover {
  color: #3399ff;
}

.stack blockquote {
  font-style: italic;
  color: #666;
  border-left: 4px solid #ddd;
  padding-left: 1em;
  margin-left: 0;
  margin-right: 0;
}

.stack code {
  background-color: var(--purple-light);
  border-radius: 0.4rem;
  color: var(--black);
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}
